body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}


.topicsTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 600;
}

.topicsTitle2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 32px;
    margin-left: 50px;
    font-weight: 500;
}


.topicsSubtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 30px;
}


.topicsLabel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-left: 200px;
}

.topicsLabelA{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-left: 5px;
    color:  #edcb4e;
    font-weight: 600;
}

.topicsLabelB{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-left: 5px;
    font-weight: 600;
    color:  #4361ee;
}